body {

  background-color: rgb(144, 141, 141);

  margin: 0;

  padding: 0;
}

.container,
.titre {

  overflow: hidden;
}

.titre {

  text-align: center;

  font-family: cursive, Gotham, Tahoma, sans-serif;

  font-size: 48px;

  margin-top: 60px;

  padding-left: 120px;

  height: 130px;

  width: 800px;

  float: left;

  color: white;

  text-shadow: black 0.1em 0.1em 0.2em;
}

.image {

  float: right;

  margin-top: 20px;

  margin-right: 40px;

  padding-right: 0px;

  height: 200px;

  width: 200px;

  border: 2px solid #000000;

  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);

}

/*début formulaire*/

form {

  display: flex;

  flex-direction: column;

  padding: 2rem;

  -webkit-box-shadow: 0px 0px 36px -7px rgba(171, 171, 171, 1);

  -moz-box-shadow: 0px 0px 36px -7px rgba(171, 171, 171, 1);

  box-shadow: 0px 0px 36px -7px rgba(171, 171, 171, 1);

  border-radius: 20px;

  margin-bottom: 2rem;

}

.contact-wrapper {

  display: flex;

  flex-direction: column;

  align-items: center;

  margin-top: 2rem;

}

input,
textarea,
select {

  margin-bottom: 1rem;

  border-radius: 7px;

  padding: 0.3rem;

  border: solid 1px;

}

textarea {

  max-width: 400px;

  letter-spacing: 1px;

}

input:focus,
textarea:focus,
select:focus,
button:focus {

  outline: none;

  -webkit-box-shadow: 0px 0px 11px -7px #bac4bf;

  -moz-box-shadow: 0px 0px 11px -7px #bac4bf;

  box-shadow: 0px 0px 11px -7px #bac4bf;

  border: solid 1px #d5e1db;

}

label {

  margin-bottom: 0.5rem;

}

.section-header {

  text-align: center;

  margin: 0 auto;

  margin-bottom: 50px;

  font: 300 2rem cursive, Gotham, Tahoma, sans-serif;

  letter-spacing: 6px;

  margin-bottom: 25px;

  color: white;

  text-shadow: black 0.1em 0.1em 0.2em;

}

.form-horizontal {

  max-width: 400px;

  font: 300 1rem cursive, Gotham, Tahoma, sans-serif;

  color: white;

  text-shadow: black 0.1em 0.1em 0.2em;

  font-weight: 400;

}

.send-button {

  margin-top: 15px;

  height: 34px;

  width: 400px;

  background-color: #d5e1db;

  border: none;

  border-radius: 7px;

  font: 300 14px cursive, Gotham, Tahoma, sans-serif;

  text-shadow: black 0.1em 0.1em 0.2em;

  color: white;

  letter-spacing: 2px;

}

.send-button:hover {

  cursor: pointer;

  color: rgb(8, 8, 8);

  text-shadow: rgb(252, 251, 251) 0.1em 0.1em 0.2em;

  background-color: #bac4bf;

}

.advert-wrapper {

  color: grey;

  font-size: 0.8rem;

  margin-top: 2rem;

}

/* fin formulaire*/

.pied {

  background: rgb(254, 254, 254);

  position: relative;

  left: 30%;

  width: 40%;

  display: flex;

  font-size: 20px;

  font-weight: bold;

  border-radius: 30px;

  margin-top: 10px;

  /* Les éléments sont répartis équitablement*/

  justify-content: space-between;

}